<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb rocky-anchorage-30531.herokuapp.com/
-->
Febr_23 2021 
<div class="center jumbotron">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>
~/ch10_account-activation branch master<p>
</p>
<%= link_to image_tag("241084701.gif", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
